.hero {
  /*grid-column: 1 / -1;*/
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--color-border);
}

.hero__title {
  font-size: clamp(3rem, 5vw, 3.5rem);
  font-weight: 300;
  max-width: 24ch;
  margin: 2rem 0 2rem;
  letter-spacing: 0.1ch;
}

.hero__description {
  font-size: 1.25rem;
  color: var(--color-text-muted);
  margin-bottom: 7rem;
}

.explorations {
  border-bottom: 1px solid var(--color-border);
}

.projects_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  margin-bottom: 3rem;
}
