.hero {
  /*grid-column: 1 / -1;*/
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--color-border);
  padding-block: 4rem 5rem;
  margin-bottom: 1.5rem;
  position: relative;
}

.hero__arc {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.hero__title {
  font-size: clamp(3rem, 5vw, 3.5rem);
  font-weight: 300;
  max-width: 24ch;
  margin: 2rem 0 2rem;
  letter-spacing: 0.1ch;
}

.hero__description {
  font-size: 1.25rem;
  color: var(--color-text-muted);
  margin-bottom: 7rem;
}

.projects_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.background {
  margin: 0;
  padding: 1rem;

  li::marker {
    color: var(--color-accent);
  }
}

.background__secondary {
  padding-block: 0.5rem;
}

.background__company {
  font-weight: 400;
}
