.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-border);

  .brand {
    font-size: 1.35rem;
    font-weight: 300;
  }

  .nav {
    .nav__list {
      display: flex;
      list-style: none;
      gap: 1rem;
    }
  }
}

.footer {
  text-align: center;
  font-size: var(--font-caption);
  margin-bottom: 2rem;
}
