.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 0.5rem;
  border-bottom: 1px solid var(--color-border);

  .brand {
    font-size: 1.35rem;
    font-weight: 300;

    a {
      color: var(--color-text);
    }
  }

  .nav {
    .nav__list {
      display: flex;
      list-style: none;
      gap: 1rem;
    }
  }
}

.footer {
  border-top: 1px solid var(--color-border);
  text-align: center;
  font-size: var(--font-caption);
  color: var(--color-text-muted);
  padding-block: 2rem;
}
